<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nicolai.alarm_clock">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".CalmingAlarm"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AllUsers"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="nosensor">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="com.nicolai.CalmingAlarm_FRIENDREQ_NOTIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.nicolai.CalmingAlarm_SIMPLE_NOTIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SET_TIMER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SHOW_TIMER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DISMISS_ALARM" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SHOW_ALARMS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".receiver_service.MyFirebaseMessagingService"
            android:exported="false"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>

            <!--
     Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
            -->
            <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@drawable/ic_alarm_black_24px" />
            <!--
                 Set color used with incoming notification messages. This is used when no color is set for the incoming
                 notification message. See README(https://goo.gl/6BKBk7) for more.
            -->
            <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/colorAccent" />
        </service>

        <receiver android:name=".receiver_service.Alarm_Receiver" />
        <receiver
            android:name=".receiver_service.Boot"
            android:directBootAware="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".receiver_service.upload"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".TimeSeter"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="stateHidden">

            <!-- android:permission="com.android.alarm.permission.SET_ALARM" -->
            <intent-filter>
                <action android:name="android.intent.action.SET_ALARM" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="nosensor">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".ChooseFriend"
            android:parentActivityName=".TimeSeter"
            android:screenOrientation="nosensor">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TimeSeter" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".WakeUp"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor"
            android:taskAffinity="" />
        <activity
            android:name=".Einstellungen"
            android:parentActivityName=".TimeSeter"
            android:screenOrientation="nosensor">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TimeSeter" />
        </activity>
        <!--
            activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" /
        -->

        <receiver
            android:name=".receiver_service.TimerNotificationActionReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="stop" />
                <action android:name="pause" />
                <action android:name="start" />
                <action android:name="resume" />
            </intent-filter>
        </receiver>

        <service
            android:name=".receiver_service.playTimerService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".receiver_service.DeleteAllAlarms"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".receiver_service.serviceUserProfile"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".ControlCenter"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Invite"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".Legal"
            android:parentActivityName=".MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Guide"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="nosensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Onboarding"
            android:screenOrientation="nosensor" />

        <service
            android:name=".receiver_service.FirstLogIn_service"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".Details_Guide"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".MockActivity"
            android:parentActivityName=".Details_Guide"
            android:screenOrientation="nosensor">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Details_Guide" />
        </activity>

        <receiver android:name=".receiver_service.AlarmIntervallReceiver" />
        <receiver android:name=".receiver_service.Timer_Receiver" />

        <service
            android:name=".receiver_service.JobServiceStartAlarm"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service android:name=".receiver_service.ForegroundService_AlarmSound"/>
        <service android:name=".receiver_service.ForegroundService_TimerSound"/>

        <receiver android:name=".receiver_service.OversleptReceiver" />

        <activity
            android:name=".TimerFullScreen"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity=""/>
    </application>

</manifest>